:root {
  /* BACKGROUND COLORS */
  --bg-main: #020617;
  --bg-secondary: #0f172a;
  --bg-card: #1e293b;

  --bright-white: #ffffff;
  --neon-pink: #ff2d95;

  --magenta-dark: #4a0026;
  --magenta-pro: #361626;
  --magenta-mid: #b8326a;
  --magenta-light: #f19cbb;

  /* MAGENTA THEME (you circled Amaranth Pink) */
  --primary: #f19cbb;
  --primary-dark: #d94d7a;

  /* TEXT COLORS */
  --text-main: #ffffff;
  --text-muted: #94a3b8;
  --text-light: #cbd5f5;

  /* ACCENT COLORS */
  --info: #38bdf8;
  --warning: #facc15;
  --danger: #ef4444;
  --danger-dark: #dc2626;
  --success: #22c55e;

  /* BORDERS */
  --border-dark: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(135deg, #020617, #0f172a); */
  /* background: linear-gradient(135deg, var(--magenta-dark), var(--magenta-mid)); */
  /* background: #1a050d; */
  background: #120108;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

.card {
  /* background: #1e293b; */
  background: var(--magenta-mid);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

input,
button {
  margin: 5px 0;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}
